<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <title>{% block title %}PayBeer{% endblock %}</title>

        {% block stylesheets %}
            <!-- Bootstrap -->
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">

            <!-- FontAwesome -->
            <link rel="stylesheet" href="{{ asset('css/all.min.css') }}">

            <link rel="stylesheet" href="{{ asset('css/main.css') }}">
            {% if dark_mode %}
                <link rel="stylesheet" href="{{ asset('css/theme/dark.css') }}">
            {% else %}
                <link rel="stylesheet" href="{{ asset('css/theme/classic.css') }}">
            {% endif %}
        {% endblock %}

    </head>
    <body class="container-fluid">

        {% block body %}
        {% endblock %}

        {% block footer %}
            {% include 'footer.html.twig' %}
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/jquery-3.4.1.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
