<div class="footer-tab row">
    <div class="tab-item col-4">
        <a href="{{ path('user_list') }}">
            <h3 class="tab-text ">Lister utilisateur</h3>
            <img src="{{ asset("icon/list-ul-solid.svg") }}" class="icon tab-icon tab-active">
        </a>
    </div>
    <div class="tab-item col-4">
        <a href="{{ path('history') }}">
            <h3 class="tab-text">Historique</h3>
            <img src="{{ asset("icon/exchange-alt-solid.svg") }}" class="icon tab-icon tab-active">
        </a>
    </div>
    <div class="tab-item col-4">
        <a href="{{ path('user_add') }}">
            <h3 class="tab-text">Ajouter utilisateur</h3>
            <img src="{{ asset("icon/user-plus-solid.svg") }}" class="icon tab-icon tab-active">
        </a>
    </div>
</div>
