

<div class="form-user-top row">

    <a class="col-3" href="{% if isEdit %} {{ path('list_user') }} {% else %} {{ path('new_user_list') }} {% endif %}">
        {#    <img src="{{ asset("icon/times-circle-regular.svg") }}" class="user-form-close icon">#}
        <img src="{{ asset("icon/back.svg") }}" class="user-form-close icon">
    </a>

    <h1 class="col-5 form-title">{% if isEdit %} Modifier {% else %} Ajouter {% endif %}</h1>

    <h4 class="col-4 title-id title-light-info">#{{ id }} {% if isEdit == 0 %} {{ tag_rfid }} {% endif %}</h4>

</div>



<form class="form-user" method="post" action="{% if isEdit %} {{ path('list_user') }} {% else %} {{ path('new_user_list') }} {% endif %}">

    <div class="form-group form-user-group">
        <label for="inputName"><h4>Nom</h4></label>
        <input type="text" class="form-control" id="inputName" placeholder="Nom" value="{% if isEdit %}{{ name }}{% endif %}">
    </div>

    <div class="form-group form-user-group">
        <label for="inputFirstname"><h4>Prénom</h4></label>
        <input type="text" class="form-control" id="inputFirstname" placeholder="Prénom" value="{% if isEdit %}{{ firstname }}{% endif %}">
    </div>

    {% if isEdit %}

        <div class="form-group form-user-group">
            <label for="inputAmount"><h4>Montant du compte</h4></label>
            <input type="number" class="form-control" id="inputAmount" placeholder="Montant du compte" value="{% if isEdit %}{{ amount }}{% endif %}">
        </div>

        <div class="form-group form-check form-user-group">
            <input type="checkbox" class="form-check-input" id="statusCheck" {% if active %} checked {% endif %}>
            <label class="form-check-label" for="exampleCheck1"><h4>Utilisateur actif</h4></label>
        </div>

    {% endif %}
    <input id="idUser" value="{{ id }}" hidden>

    <button type="submit" class="btn btn-primary btn-form-user col-12 fixed-bottom">{% if isEdit %} Modifier {% else %} Ajouter {% endif %}</button>

</form>