{% extends "layout.html.twig" %}

{% block main %}
    <h1><i class="fa fa-tachometer-alt"></i> Dashboard</h1>
    <hr>
    <div class="card-columns">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><i class="fa fa-piggy-bank"></i> Solde général</h5>
                <p class="card-text lead text-center {{ balance < 0 ? 'text-danger' }}"
                   style="font-size: 2.8rem">{{ balance }} CHF</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><i class="fa fa-users"></i> Derniers utilisateurs inscrits</h5>
                <div class="card-text">
                    <div class="row">
                        {% for user in lastUsers %}
                            <dt class="col-6">
                                <a href="{{ path('user_info', {userID: user.id}) }}">
                                    {% if user.status == 'NEW' %}
                                        <i class="fa fa-tag"></i> {{ user.tagRfid }}
                                    {% else %}
                                        {{ user.firstname }} {{ user.lastname }}
                                    {% endif %}
                                </a>
                            </dt>
                            <dd class="col-6">{{ user.createdAt|date('d.m.Y') }}</dd>
                        {% endfor %}
                    </div>
                    {% if lastUsers|length > 0 %}
                        <p class="text-center" style="margin: 0;"><a href="#">Voir plus ...</a></p>
                    {% else %}
                        <div class="text-center text-muted">
                            <i class="fa fa-smile mt-1" style="font-size: 3rem"></i>
                            <p class="mt-3 mb-0"><i>Les derniers utilisateurs s'afficheront ici.</i></p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><i class="fa fa-tags"></i> Dernières transactions</h5>
                <div class="card-text">
                    <div class="row">
                        {% for transaction in transactions %}
                            <dt class="col-6">
                                <a href="{{ path('user_info', {userID: transaction.user.id}) }}">{{ transaction.user.firstname }} {{ transaction.user.lastname }}</a>
                            </dt>
                            <dd class="col-6">{{ transaction.amount }} CHF</dd>
                        {% endfor %}
                    </div>
                    {% if transactions|length > 0 %}
                        <p class="text-center" style="margin: 0;"><a href="#">Voir plus ...</a></p>
                    {% else %}
                        <div class="text-center text-muted">
                            <i class="fa fa-smile mt-1" style="font-size: 3rem"></i>
                            <p class="mt-3 mb-0"><i>Les dernières transactions s'afficherons ici.</i></p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><i class="fa fa-user-lock"></i> Comptes bloqués</h5>
                <div class="card-text">
                    <div class="row">
                        {% for user in blockedUsers %}
                            <div class="col-6"><a
                                        href="{{ path('user_info', {userID: user.id}) }}">{{ user.firstname }} {{ user.lastname }}</a>
                            </div>
                        {% endfor %}
                    </div>
                    {% if blockedUsers|length > 0 %}
                        <p class="text-center" style="margin: 0;"><a href="#">Voir plus ...</a></p>
                    {% else %}
                        <div class="text-center text-muted">
                            <i class="fa fa-smile mt-1" style="font-size: 3rem"></i>
                            <p class="mt-3 mb-0"><i>Les comptes bloqués s'afficherons ici.</i></p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><i class="fa fa-user-shield"></i> Comptes administrateurs</h5>
                <div class="card-text">
                    <div class="row">
                        {% for admin in admins %}
                            <div class="col-6"><a
                                        href="{{ path('user_info', {userID: admin.user.id}) }}">{{ admin.user.firstname }} {{ admin.user.lastname }}</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><i class="fa fa-beer"></i> Comptes staff</h5>
                <div class="card-text">
                    <p class="text-muted"><i>Pas disponible pour le moment</i></p>
                </div>
            </div>
        </div>
        <div class="card border-warning">
            <div class="card-body">
                <h5 class="card-title"><i class="fa fa-key"></i> Identifiant de test pour l'API</h5>
                <div class="card-text">
                    <div class="row">
                        <dt class="col-6">Tag RFID</dt>
                        <dd class="col-6">{{ rfid_test }}</dd>
                        <dt class="col-6">PIN number</dt>
                        <dd class="col-6">{{ pin_test }}</dd>
                    </div>
                    <p class="mt-2">L'API est documentée <a href="{{ path('api_docs') }}index.html" target="_blank">ici
                            <i class="fa fa-book"></i></a>.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
