{% set route_name = app.request.attributes.get('_route')|default('/') %}
{% set referer = app.request.headers.get('referer') %}
{% set referer = referer != app.request.getUri ? referer : '/' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>


    <!-- Bootstrap core CSS -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/all.min.css') }}" rel="stylesheet">
    {% block stylesheets %}{% endblock %}

    <meta name="theme-color" content="#563d7c">
    <style>
        body {
            padding-top: 5rem;
        }
    </style>
</head>
<body>
{% block body %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#"><i class="fa fa-beer"></i> PayBeer</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {{ route_name == 'home' ? 'active' }}">
                        <a class="nav-link" href="{{ path('home') }}"><i class="fa fa-tachometer-alt"></i> Dashboard
                            <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item {{ route_name == 'user_list' ? 'active' }}">
                        <a class="nav-link" href="{{ path('user_list') }}"><i class="fa fa-users"></i> Utilisateurs</a>
                    </li>
                    <li class="nav-item {{ route_name == 'history' ? 'active' }}">
                        <a class="nav-link" href="{{ path('history') }}"><i class="fa fa-history"></i> Transactions</a>
                    </li>
                    <li class="nav-item {{ route_name == 'user_list_new' ? 'active' }}">
                        <a class="nav-link" href="{{ path('user_list_new') }}"><i class="fa fa-user-plus"></i> Nouveaux utilisateurs</a>
                    </li>
                </ul>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <span class="navbar-text">Bonjour, {{ app.user.user.firstname }} {{ app.user.user.lastname }} <a href="{{ path('app_logout') }}" class="btn btn-sm btn-outline-secondary"><i class="fa fa-sign-out-alt"></i> Se déconnecter</a></span>
                {% endif %}
            </div>
        </div>
    </nav>

    <main role="main" class="container">

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} fade show" role="alert">
                    {{ message|raw }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endfor %}


        {% block main %}

        {% endblock %}

    </main>
{% endblock %}

<script src="{{ asset('js/jquery-3.4.1.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
</body>
</html>
