{% extends "layout.html.twig" %}

{% block main %}
    <h1><i class="fa fa-users"></i> Utilisateurs</h1>
    <hr>
    <form method="get">
        <div class="form-group">
            <label for="search" class="sr-only"></label>
            <div class="input-group mb-3">
                <input type="search" class="form-control" placeholder="Rechercher" value="{{ query|default }}" name="q"
                       id="search" aria-describedby="search">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit"><i class="fa fa-search"></i></button>
                </div>
                {% if query is defined %}
                    <div class="input-group-append">
                        <a class="btn btn-outline-danger" href="{{ path('user_list') }}"><i class="fa fa-filter"></i>
                            Clear</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </form>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Statut</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td><a href="{{ path('user_info', {userID: user.id}) }}">{{ user.lastname }}</a></td>
                    <td>{{ user.firstname }}</td>
                    {% if user.status == 'ACTIVE' %}
                        <td><i class="fa fa-check text-success"></i></td>
                    {% elseif user.status == 'NEW' %}
                        <td><i class="fa fa-plus-circle text-primary"></i></td>
                    {% elseif user.status == 'BLOCKED' %}
                        <td><i class="fa fa-minus-circle text-danger"></i></td>
                    {% else %}
                        <td><i class="fa fa-question-circle"></i></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
