{% extends "layout.html.twig" %}

{% block main %}
    <h1>
        <i class="fa fa-user"></i>
        {% if user.firstname is not empty and user.lastname is not empty %}
            {{ user.firstname }} {{ user.lastname }}
        {% else %}
            RFID {{ user.tagRfid }}
        {% endif %}
    </h1>
    <hr>
    {% if user.status == 'BLOCKED' %}
        <div class="alert alert-warning" role="alert">
            <strong><i class="fa fa-exclamation-triangle"></i> Ce compte est actuellement bloqué !</strong>
        </div>
    {% endif %}
    <a href="{{ path('user_edit', {userID: user.id}) }}" class="btn btn-primary"><i class="fa fa-edit"></i> Éditer</a>
    <a href="{{ path('user_delete', {userID: user.id}) }}" class="btn btn-outline-danger"
       onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ? Cette action est irréverible.')"><i
                class="fa fa-trash"></i> Supprimer</a>
    <dl class="row mt-4">
        {% if user.lastname %}
            <dt class="col-4">Nom</dt>
            <dd class="col-8">{{ user.lastname }}</dd>
        {% endif %}

        {% if user.firstname %}
            <dt class="col-4">Prénom</dt>
            <dd class="col-8">{{ user.firstname }}</dd>
        {% endif %}

        <dt class="col-4">Tag RFID <i class="fa fa-credit-card"></i></dt>
        <dd class="col-8">{{ user.tagRfid }}</dd>

        <dt class="col-4">Statut du compte</dt>
        {% if user.status == 'ACTIVE' %}
            <dd class="col-8">
                <i class="fa fa-check text-success"></i> Actif
                <a href="{{ path('user_lock', {userID: user.id}) }}" class="btn btn-outline-danger ml-3"><i
                            class="fa fa-minus-circle"></i> Bloquer</a>
            </dd>
        {% elseif user.status == 'NEW' %}
            <dd class="col-8"><i class="fa fa-plus-circle text-primary"></i> Nouveau</dd>
        {% elseif user.status == 'BLOCKED' %}
            <dd class="col-8">
                <i class="fa fa-minus-circle text-danger"></i> Bloqué
                <a href="{{ path('user_unlock', {userID: user.id}) }}" class="btn btn-outline-success ml-3"><i
                            class="fa fa-unlock"></i> Débloquer</a>
            </dd>
        {% else %}
            <dd class="col-8"><i class="fa fa-question-circle"></i> Statut inconnu</dd>
        {% endif %}

        <dt class="col-4">Solde du compte</dt>
        <dd class="col-8 {{ balance < 0 ? 'text-danger' : balance > 0 ? 'text-success' }}">{{ balance }} CHF</dd>

        <dt class="col-4">Compte créé le</dt>
        <dd class="col-8">{{ user.createdAt|date('d.m.Y à H:i') }}</dd>
    </dl>

    <h2><i class="fa fa-tags"></i> Transactions <a class="text-info" href="#"><i class="fa fa-plus"></i></a></h2>
    <hr>
    <form method="get">
        <div class="form-group">
            <label for="search" class="sr-only"></label>
            <div class="input-group mb-3">
                <input type="search" class="form-control" placeholder="Rechercher" value="{{ query|default }}" name="q"
                       id="search" aria-describedby="search">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit"><i class="fa fa-search"></i></button>
                </div>
                {% if query is defined %}
                    <div class="input-group-append">
                        <a class="btn btn-outline-danger" href="{{ path('user_info', {userID: user.id}) }}"><i class="fa fa-filter"></i>
                            Clear</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </form>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>No</th>
                <th>Montant</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for transaction in user.transactions %}
                <tr class="{{ transaction.status == 'CANCELED' ? 'striked table-warning' }}">
                    <td><a href="{{ path('transaction_info', {id: transaction.id}) }}">{{ transaction.id }}</a></td>
                    <td>{{ transaction.amount }} CHF</td>
                    <td>{{ transaction.date|date('d.m.Y H:i') }}</td>
                    <td>
                        <a href="{{ path('transaction_edit', {id: transaction.id}) }}" class="btn btn-sm btn-outline-info d-none d-sm-inline"><i
                                    class="fa fa-pencil-alt"></i></a>
                        {% if transaction.status == 'CANCELED' %}
                            <a href="{{ path('transaction_maintain', {id: transaction.id}) }}" class="btn btn-sm btn-outline-success d-none d-md-inline"><i
                                        class="fa fa-check"></i></a>
                        {% else %}
                            <a href="{{ path('transaction_cancel', {id: transaction.id}) }}" class="btn btn-sm btn-outline-danger d-none d-md-inline"><i
                                        class="fa fa-minus-circle"></i></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if user.transactions is empty %}
            <p class="text-muted text-center">Aucune transaction pour le moment</p>
        {% endif %}
    </div>

{% endblock %}
