{% extends "layout.html.twig" %}

{% block main %}
    <h1><i class="fa fa-tags"></i> Transactions</h1>
    <hr>
    <form method="get">
        <div class="form-group">
            <label for="search" class="sr-only"></label>
            <div class="input-group mb-3">
                <input type="search" class="form-control" placeholder="Rechercher" value="{{ query|default }}" name="q"
                       id="search" aria-describedby="search">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit"><i class="fa fa-search"></i></button>
                </div>
                {% if query is defined %}
                    <div class="input-group-append">
                        <a class="btn btn-outline-danger" href="{{ path('user_list') }}"><i class="fa fa-filter"></i>
                            Clear</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </form>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th class="d-none d-md-table-cell">ID</th>
                <th>Utilisateur</th>
                <th>Montant</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for transaction in transactions %}
                <tr class="{{ transaction.status == 'CANCELED' ? 'striked table-warning' }}">
                    <td class="d-none d-md-table-cell"><a
                                href="{{ path('transaction_info', {id: transaction.id}) }}">{{ transaction.id }}</a>
                    </td>
                    <td>
                        <a href="{{ path('user_info', {userID: transaction.user_id}) }}">{{ transaction.firstname }} {{ transaction.lastname }}</a>
                    </td>
                    <td>{{ transaction.amount }}<span class="d-none d-sm-inline"> CHF</span></td>
                    <td>{{ transaction.date|date('d.m.y H:i') }}</td>
                    <td>
                        <a href="{{ path('transaction_info', {id: transaction.id}) }}"
                           class="btn btn-sm btn-outline-primary"><i class="fa fa-eye"></i></a>
                        <a href="#" class="btn btn-sm btn-outline-info d-none d-sm-inline"><i
                                    class="fa fa-pencil-alt"></i></a>
                        {% if transaction.status == 'CANCELED' %}
                            <a href="{{ path('transaction_maintain', {id: transaction.id}) }}" class="btn btn-sm btn-outline-success d-none d-md-inline"><i
                                        class="fa fa-check"></i></a>
                        {% else %}
                            <a href="{{ path('transaction_cancel', {id: transaction.id}) }}" class="btn btn-sm btn-outline-danger d-none d-md-inline"><i
                                        class="fa fa-minus-circle"></i></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if transactions is empty %}
            <p class="text-muted text-center">Pas de transaction pour le moment</p>
        {% endif %}
    </div>
{% endblock %}
